* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --gray-blue: hsl(246, 25%, 77%);
}

body {
    background-image: url(images/bg-intro-desktop.png);
    background-color: var(--red);
    height: 100vh;
    display: flex;
    align-items: center;
}

.container-main {
    width: 75vw;
    height: 75vh;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.container-right{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-form {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
}
.container-form button{
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-offer {
    width: 100%;
    color: white;
    background-color: var(--blue);
    padding: 0.7em 0;
    border-radius: 10px;
    border: 0;
}